# Creation of CSV- COMMON SEPERATED VALUE

In [1]:
import pandas as pd

In [3]:
# help(pd.read_csv)

In [5]:
# pd.read_csv('file_path_name')

In [6]:
import os

In [7]:
# os - module used for current directory

In [8]:
# pd.read_csv()

In [9]:
# Drop Nan value remove
''' drop_va.dropna()
drop_va.dropna(axis=, how = '') '''

" drop_va.dropna()\ndrop_va.dropna(axis=, how = '') "

In [11]:
# Drop Pandas Filna 
''' 
dataFrame.fillna()
# dictionary
dataFrame.fillna({})
# method
dataFrame.fillna()
'''

' \ndataFrame.fillna()\n# dictionary\ndataFrame.fillna({})\n# method\ndataFrame.fillna()\n'

In [12]:
# Replace function

#dataFrame_01.replace(to_replace, value, limit)

In [ ]:
# Interplates

DataFrame.interpolate()

Series.interploate()

# methods,

In [13]:
# loc 
# Gruop By Function
# Merging Function
# Concat - Series, DataFrame or pannel concate
# Join - Two DataFram add
# Append - append the rows to another file rows then add and create another dataFrame
# Pivot Table -